# Project Title
### Data Engineering Capstone Project

#### Project Summary
For this project, I pulled the data from the AWS S3 and store them into RedShift database through a star schema.  This schema is designed to answer the question on where the immigrants were coming from and where do they go in US.

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import pandas as pd
import configparser

In [2]:
import re
from collections import defaultdict
from datetime import datetime, timedelta
import psycopg2

In [3]:
#I want to display all 28 columns in the notebook
pd.set_option('display.max_columns', 28)

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>
I used the immigration and the city demographics dataset provided by Udacity for this project.  
Once the data's read into the pandas dataframe, I then push it to Postgres.  


#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included? 

The immigration dataset is provided by US National Tourism and Trade Office.  And the city demographic dataset is coming from OpenSoft.

The immigration dataset contains the entry logs into the US borders.

The city demographic dataset contains information about the demographic in the US cities.

In [4]:
# Read in the data here

IMMIGRATION_CHUNK_SIZE = 500000
IMMIGRATION_DATA_FILES = [
    '../../data/18-83510-I94-Data-2016/i94_jan16_sub.sas7bdat',
    '../../data/18-83510-I94-Data-2016/i94_feb16_sub.sas7bdat',
    '../../data/18-83510-I94-Data-2016/i94_mar16_sub.sas7bdat',
    '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat',
    '../../data/18-83510-I94-Data-2016/i94_may16_sub.sas7bdat',
    '../../data/18-83510-I94-Data-2016/i94_jun16_sub.sas7bdat',
    '../../data/18-83510-I94-Data-2016/i94_jul16_sub.sas7bdat',
    '../../data/18-83510-I94-Data-2016/i94_aug16_sub.sas7bdat',
    '../../data/18-83510-I94-Data-2016/i94_sep16_sub.sas7bdat',
    '../../data/18-83510-I94-Data-2016/i94_oct16_sub.sas7bdat',
    '../../data/18-83510-I94-Data-2016/i94_nov16_sub.sas7bdat',
    '../../data/18-83510-I94-Data-2016/i94_dec16_sub.sas7bdat'
]

HEADER_FILE = 'I94_SAS_Labels_Descriptions.SAS'

Loading one immigration file to explore the data

In [22]:
filename = IMMIGRATION_DATA_FILES[0]
iterator = pd.read_sas(
    filename, 'sas7bdat', encoding="ISO-8859-1", chunksize=IMMIGRATION_CHUNK_SIZE
)
df = next(iterator)

In [7]:
df.head(10)

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,7.0,2016.0,1.0,101.0,101.0,BOS,20465.0,1.0,MA,NaN,20.0,3.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1996.0,D/S,M,NaN,LH,346608285.0,424,F1
1,8.0,2016.0,1.0,101.0,101.0,BOS,20465.0,1.0,MA,NaN,20.0,3.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1996.0,D/S,M,NaN,LH,346627585.0,424,F1
2,9.0,2016.0,1.0,101.0,101.0,BOS,20469.0,1.0,CT,20480.0,17.0,2.0,1.0,NaN,NaN,NaN,T,N,NaN,M,1999.0,07152016,F,NaN,AF,381092385.0,338,B2
3,10.0,2016.0,1.0,101.0,101.0,BOS,20469.0,1.0,CT,20499.0,45.0,2.0,1.0,NaN,NaN,NaN,T,N,NaN,M,1971.0,07152016,F,NaN,AF,381087885.0,338,B2
4,11.0,2016.0,1.0,101.0,101.0,BOS,20469.0,1.0,CT,20499.0,12.0,2.0,1.0,NaN,NaN,NaN,T,N,NaN,M,2004.0,07152016,M,NaN,AF,381078685.0,338,B2
5,12.0,2016.0,1.0,101.0,101.0,BOS,20474.0,1.0,MA,NaN,33.0,2.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1983.0,07202016,M,NaN,LH,406155985.0,424,B2
6,15.0,2016.0,1.0,101.0,101.0,BOS,20477.0,1.0,MA,20524.0,28.0,3.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1988.0,D/S,F,NaN,LH,417363085.0,424,F1
7,17.0,2016.0,1.0,101.0,101.0,BOS,20480.0,1.0,MA,NaN,78.0,2.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1938.0,07262016,M,NaN,TK,428558285.0,81,B2
8,18.0,2016.0,1.0,101.0,101.0,BOS,20480.0,1.0,MA,NaN,70.0,2.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1946.0,07262016,F,NaN,TK,428561085.0,81,B2
9,20.0,2016.0,1.0,101.0,101.0,CHI,20473.0,1.0,IL,20482.0,28.0,2.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1988.0,07192016,M,NaN,BA,401779785.0,295,B2
10,21.0,2016.0,1.0,101.0,101.0,CHI,20478.0,1.0,TN,20495.0,28.0,2.0,1.0,NaN,NaN,NaN,T,N,NaN,M,1988.0,07242016,M,NaN,OS,420642985.0,65,B2
11,22.0,2016.0,1.0,101.0,101.0,TUC,20476.0,1.0,NaN,NaN,62.0,2.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1954.0,07222016,M,NaN,LH,412742085.0,442,B2
12,23.0,2016.0,1.0,101.0,101.0,TUC,20476.0,1.0,NaN,NaN,54.0,2.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1962.0,07222016,F,NaN,LH,412735785.0,442,B2
13,24.0,2016.0,1.0,101.0,101.0,TUC,20476.0,1.0,MI,20508.0,64.0,2.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1952.0,02252016,M,NaN,LH,412708185.0,442,B2
14,25.0,2016.0,1.0,101.0,101.0,TUC,20476.0,1.0,MI,20508.0,53.0,2.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1963.0,02252016,F,NaN,LH,412705485.0,442,B2
15,28.0,2016.0,1.0,101.0,101.0,LVG,20481.0,1.0,NV,NaN,77.0,2.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1939.0,07272016,F,NaN,DE,431613585.0,2062,B2
16,29.0,2016.0,1.0,101.0,101.0,LVG,20481.0,1.0,NV,NaN,74.0,2.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1942.0,07272016,M,NaN,DE,431605285.0,2062,B2
17,30.0,2016.0,1.0,101.0,101.0,MIA,20459.0,1.0,FL,NaN,26.0,3.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1990.0,D/S,M,NaN,AB,309652985.0,7000,F1
18,32.0,2016.0,1.0,101.0,101.0,MIA,20471.0,1.0,FL,20501.0,42.0,2.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1974.0,02182016,M,NaN,OS,391844985.0,97,B2
19,33.0,2016.0,1.0,101.0,101.0,NEW,20463.0,1.0,NJ,NaN,70.0,2.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1946.0,07092016,M,NaN,OS,331349485.0,89,B2
20,36.0,2016.0,1.0,101.0,101.0,NEW,20466.0,1.0,TN,20479.0,65.0,2.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1951.0,07122016,M,NaN,OS,352835185.0,89,B2
21,37.0,2016.0,1.0,101.0,101.0,NEW,20466.0,1.0,TN,20479.0,61.0,2.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1955.0,07122016,F,NaN,OS,353544785.0,89,B2
22,40.0,2016.0,1.0,101.0,101.0,NEW,20474.0,1.0,NY,20481.0,25.0,2.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1991.0,07202016,M,NaN,UA,403471985.0,18,B2
23,41.0,2016.0,1.0,101.0,101.0,NEW,20474.0,1.0,NY,20491.0,42.0,2.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1974.0,07202016,M,NaN,LH,404559085.0,402,B2
24,42.0,2016.0,1.0,101.0,101.0,NEW,20474.0,1.0,NY,20505.0,37.0,2.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1979.0,07202016,M,NaN,LH,404385885.0,402,B2
25,43.0,2016.0,1.0,101.0,101.0,NEW,20478.0,1.0,NJ,NaN,60.0,2.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1956.0,07242016,M,NaN,OS,420426585.0,89,B2
26,44.0,2016.0,1.0,101.0,101.0,NEW,20478.0,1.0,NY,NaN,23.0,3.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1993.0,D/S,M,NaN,LH,421759385.0,412,F1
27,46.0,2016.0,1.0,101.0,101.0,NEW,20482.0,1.0,NY,20491.0,51.0,1.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1965.0,07282016,M,NaN,LH,435822985.0,412,B1
28,47.0,2016.0,1.0,101.0,101.0,NEW,20482.0,1.0,NY,20491.0,47.0,1.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1969.0,07282016,F,NaN,LH,435829285.0,412,B1
29,48.0,2016.0,1.0,101.0,101.0,NYC,20461.0,1.0,NaN,NaN,20.0,3.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1996.0,D/S,F,NaN,TK,321183685.0,1,F1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,107.0,2016.0,1.0,101.0,101.0,TAM,20478.0,1.0,FL,20503.0,38.0,2.0,1.0,NaN,TIA,NaN,T,O,NaN,M,1978.0,07242016,M,NaN,BA,421392785.0,2167,B2
71,108.0,2016.0,1.0,101.0,101.0,WAS,20465.0,1.0,CA,20470.0,39.0,2.0,1.0,NaN,TIA,NaN,T,O,NaN,M,1977.0,07112016,M,NaN,LH,346649585.0,414,B2
72,109.0,2016.0,1.0,101.0,117.0,PHI,20477.0,1.0,FL,20501.0,24.0,2.0,1.0,NaN,NaN,NaN,T,N,NaN,M,1992.0,02272016,M,NaN,AA,417191685.0,719,B2
73,110.0,2016.0,1.0,101.0,529.0,NYC,20474.0,1.0,NY,NaN,21.0,3.0,1.0,NaN,TIA,NaN,T,NaN,NaN,NaN,1995.0,D/S,M,NaN,AZ,403801985.0,608,F1
74,112.0,2016.0,1.0,101.0,582.0,CHI,20477.0,1.0,IL,20490.0,51.0,2.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1965.0,07232016,F,NaN,Y4,415378485.0,940,B2
75,115.0,2016.0,1.0,102.0,102.0,NYC,20471.0,1.0,NY,20475.0,30.0,2.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1986.0,04162016,M,NaN,IB,390466185.0,6251,WT
76,117.0,2016.0,1.0,102.0,102.0,SAJ,20455.0,1.0,PR,20460.0,33.0,2.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1983.0,03312016,M,NaN,DY,290175585.0,7127,WT
77,118.0,2016.0,1.0,102.0,102.0,NEW,20457.0,1.0,MO,NaN,25.0,3.0,1.0,NaN,MDD,NaN,T,NaN,NaN,NaN,1991.0,D/S,F,NaN,UA,299139685.0,121,F1
78,119.0,2016.0,1.0,102.0,324.0,WAS,20484.0,1.0,DC,NaN,25.0,1.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1991.0,04292016,M,NaN,BA,443239685.0,217,WB
79,120.0,2016.0,1.0,103.0,103.0,MIA,20483.0,1.0,FL,20487.0,54.0,2.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1962.0,03102016,F,NaN,AA,437258385.0,1036,B2
80,121.0,2016.0,1.0,103.0,103.0,MIA,20483.0,1.0,FL,20487.0,21.0,2.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1995.0,07292016,M,NaN,AA,437298785.0,1036,B2
81,123.0,2016.0,1.0,103.0,103.0,ATL,20471.0,1.0,GA,20475.0,34.0,1.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1982.0,07172016,M,NaN,LH,391155585.0,444,B1
82,125.0,2016.0,1.0,103.0,103.0,ATL,20479.0,1.0,NaN,NaN,25.0,2.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1991.0,04242016,F,NaN,AF,425116185.0,688,WT
83,126.0,2016.0,1.0,103.0,103.0,SFR,20475.0,1.0,NaN,20480.0,55.0,1.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1961.0,07212016,M,NaN,EY,409297285.0,183,B1
84,132.0,2016.0,1.0,103.0,103.0,BOS,20456.0,1.0,MA,20461.0,25.0,2.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1991.0,04012016,F,NaN,LX,295862585.0,52,WT
85,134.0,2016.0,1.0,103.0,103.0,BOS,20470.0,1.0,MA,NaN,22.0,3.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1994.0,D/S,F,NaN,BA,387119485.0,215,F1
86,135.0,2016.0,1.0,103.0,103.0,BOS,20484.0,1.0,MA,20490.0,26.0,1.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1990.0,04292016,M,NaN,DL,441952685.0,125,WB
87,136.0,2016.0,1.0,103.0,103.0,CHI,20463.0,1.0,IL,20476.0,35.0,1.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1981.0,01092018,M,NaN,LH,331311985.0,430,E1
88,138.0,2016.0,1.0,103.0,103.0,CHI,20471.0,1.0,IL,20474.0,38.0,1.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1978.0,04162016,M,NaN,LH,390150985.0,430,WB
89,139.0,2016.0,1.0,103.0,103.0,CHI,20471.0,1.0,NV,20475.0,39.0,1.0,1.0,NaN,NaN,NaN,T,N,NaN,M,1977.0,04162016,M,NaN,OS,390115085.0,65,WB
90,140.0,2016.0,1.0,103.0,103.0,CHI,20478.0,1.0,KY,20484.0,33.0,1.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1983.0,04232016,F,NaN,BA,421967485.0,297,WB
91,141.0,2016.0,1.0,103.0,103.0,CHI,20478.0,1.0,VA,NaN,22.0,2.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1994.0,04232016,F,NaN,OS,420501785.0,65,WT
92,142.0,2016.0,1.0,103.0,103.0,CHI,20484.0,1.0,IL,NaN,32.0,2.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1984.0,04292016,M,NaN,AB,442215785.0,7420,WT
93,144.0,2016.0,1.0,103.0,103.0,DAL,20469.0,1.0,CA,NaN,32.0,2.0,1.0,NaN,NaN,NaN,T,NaN,NaN,NaN,1984.0,07152016,F,NaN,AA,380962185.0,37,B2
94,145.0,2016.0,1.0,103.0,103.0,NEW,20462.0,1.0,TX,20529.0,55.0,1.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1961.0,04072016,M,NaN,UA,322789685.0,22,WB
95,146.0,2016.0,1.0,103.0,103.0,DEN,20473.0,1.0,UT,20483.0,54.0,2.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1962.0,04182016,M,NaN,LH,400983085.0,446,WT
96,147.0,2016.0,1.0,103.0,103.0,DEN,20476.0,1.0,AZ,20480.0,57.0,1.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1959.0,04212016,M,NaN,LH,413422285.0,446,WB
97,148.0,2016.0,1.0,103.0,103.0,DEN,20481.0,1.0,CO,20482.0,64.0,2.0,1.0,NaN,NaN,NaN,T,I,NaN,M,1952.0,04262016,F,NaN,FI,431968285.0,671,WT
98,149.0,2016.0,1.0,103.0,103.0,TUC,20467.0,1.0,NY,20472.0,35.0,2.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1981.0,04122016,F,NaN,DL,369639585.0,712,WT
99,150.0,2016.0,1.0,103.0,103.0,TUC,20471.0,1.0,VA,20475.0,46.0,1.0,1.0,NaN,NaN,NaN,T,O,NaN,M,1970.0,04162016,M,NaN,LH,390211385.0,442,WB

In [7]:
#Verify if cicid is the primary key
df[['cicid']].groupby(['cicid']).sum().reset_index()

            cicid
0             7.0
1             8.0
2             9.0
3            10.0
4            11.0
5            12.0
6            15.0
7            17.0
8            18.0
9            20.0
10           21.0
11           22.0
12           23.0
13           24.0
14           25.0
15           28.0
16           29.0
17           30.0
18           32.0
19           33.0
20           36.0
21           37.0
22           40.0
23           41.0
24           42.0
25           43.0
26           44.0
27           46.0
28           47.0
29           48.0
...           ...
499970  1152121.0
499971  1152122.0
499972  1152123.0
499973  1152124.0
499974  1152125.0
499975  1152126.0
499976  1152127.0
499977  1152128.0
499978  1152129.0
499979  1152130.0
499980  1152132.0
499981  1152133.0
499982  1152139.0
499983  1152147.0
499984  1152148.0
499985  1152149.0
499986  1152150.0
499987  1152151.0
499988  1152152.0
499989  1152153.0
499990  1152154.0
499991  1152157.0
499992  1152160.0
499993  1152161.0
499994  1152166.0
499995  1152167.0
499996  1152168.0
499997  1152181.0
499998  1152182.0
499999  1152183.0

[500000 rows x 1 columns]

In [8]:
city_df = pd.read_csv('us-cities-demographics.csv', delimiter=';')
print(city_df.shape)
city_df.head()

(2891, 12)

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.
Upon inspecting the immigration data, few issues were identified.

1. Bad birth year under the i94bir column.  Since the report's made in 2016, any birthday year after 2016 will be replaced to NULL.  And any year outside of the 1900 - 2006 will also be replaced with NULL value.

2. Since the data's divided into multiple files, we need to ensure the columns from each file are consistent.

In [9]:
#put small dataframe from each month into a list
small_list = []
for fname in IMMIGRATION_DATA_FILES:
    small_iterator = pd.read_sas(fname, 'sas7bdat', encoding='ISO-8859-1', chunksize=20)
    small_list.append(next(small_iterator))

#create a dictionary map for each month to list of the columns
column_names_by_files = {t[0].split('/')[-1].split('_')[1][:3]: list(t[1].columns.values)
                        for t in zip(IMMIGRATION_DATA_FILES, small_list)
                        }

In [10]:
column_names_by_files

{'jan': ['cicid',
  'i94yr',
  'i94mon',
  'i94cit',
  'i94res',
  'i94port',
  'arrdate',
  'i94mode',
  'i94addr',
  'depdate',
  'i94bir',
  'i94visa',
  'count',
  'dtadfile',
  'visapost',
  'occup',
  'entdepa',
  'entdepd',
  'entdepu',
  'matflag',
  'biryear',
  'dtaddto',
  'gender',
  'insnum',
  'airline',
  'admnum',
  'fltno',
  'visatype'],
 'feb': ['cicid',
  'i94yr',
  'i94mon',
  'i94cit',
  'i94res',
  'i94port',
  'arrdate',
  'i94mode',
  'i94addr',
  'depdate',
  'i94bir',
  'i94visa',
  'count',
  'dtadfile',
  'visapost',
  'occup',
  'entdepa',
  'entdepd',
  'entdepu',
  'matflag',
  'biryear',
  'dtaddto',
  'gender',
  'insnum',
  'airline',
  'admnum',
  'fltno',
  'visatype'],
 'mar': ['cicid',
  'i94yr',
  'i94mon',
  'i94cit',
  'i94res',
  'i94port',
  'arrdate',
  'i94mode',
  'i94addr',
  'depdate',
  'i94bir',
  'i94visa',
  'count',
  'dtadfile',
  'visapost',
  'occup',
  'entdepa',
  'entdepd',
  'entdepu',
  'matflag',
  'biryear',
  'dtaddto',
  'gender',
  'insnum',
  'airline',
  'admnum',
  'fltno',
  'visatype'],
 'apr': ['cicid',
  'i94yr',
  'i94mon',
  'i94cit',
  'i94res',
  'i94port',
  'arrdate',
  'i94mode',
  'i94addr',
  'depdate',
  'i94bir',
  'i94visa',
  'count',
  'dtadfile',
  'visapost',
  'occup',
  'entdepa',
  'entdepd',
  'entdepu',
  'matflag',
  'biryear',
  'dtaddto',
  'gender',
  'insnum',
  'airline',
  'admnum',
  'fltno',
  'visatype'],
 'may': ['cicid',
  'i94yr',
  'i94mon',
  'i94cit',
  'i94res',
  'i94port',
  'arrdate',
  'i94mode',
  'i94addr',
  'depdate',
  'i94bir',
  'i94visa',
  'count',
  'dtadfile',
  'visapost',
  'occup',
  'entdepa',
  'entdepd',
  'entdepu',
  'matflag',
  'biryear',
  'dtaddto',
  'gender',
  'insnum',
  'airline',
  'admnum',
  'fltno',
  'visatype'],
 'jun': ['cicid',
  'i94yr',
  'i94mon',
  'i94cit',
  'i94res',
  'i94port',
  'arrdate',
  'i94mode',
  'i94addr',
  'depdate',
  'i94bir',
  'i94visa',
  'count',
  'validres',
  'delete_days',
  'delete_mexl',
  'delete_dup',
  'delete_visa',
  'delete_recdup',
  'dtadfile',
  'visapost',
  'occup',
  'entdepa',
  'entdepd',
  'entdepu',
  'matflag',
  'biryear',
  'dtaddto',
  'gender',
  'insnum',
  'airline',
  'admnum',
  'fltno',
  'visatype'],
 'jul': ['cicid',
  'i94yr',
  'i94mon',
  'i94cit',
  'i94res',
  'i94port',
  'arrdate',
  'i94mode',
  'i94addr',
  'depdate',
  'i94bir',
  'i94visa',
  'count',
  'dtadfile',
  'visapost',
  'occup',
  'entdepa',
  'entdepd',
  'entdepu',
  'matflag',
  'biryear',
  'dtaddto',
  'gender',
  'insnum',
  'airline',
  'admnum',
  'fltno',
  'visatype'],
 'aug': ['cicid',
  'i94yr',
  'i94mon',
  'i94cit',
  'i94res',
  'i94port',
  'arrdate',
  'i94mode',
  'i94addr',
  'depdate',
  'i94bir',
  'i94visa',
  'count',
  'dtadfile',
  'visapost',
  'occup',
  'entdepa',
  'entdepd',
  'entdepu',
  'matflag',
  'biryear',
  'dtaddto',
  'gender',
  'insnum',
  'airline',
  'admnum',
  'fltno',
  'visatype'],
 'sep': ['cicid',
  'i94yr',
  'i94mon',
  'i94cit',
  'i94res',
  'i94port',
  'arrdate',
  'i94mode',
  'i94addr',
  'depdate',
  'i94bir',
  'i94visa',
  'count',
  'dtadfile',
  'visapost',
  'occup',
  'entdepa',
  'entdepd',
  'entdepu',
  'matflag',
  'biryear',
  'dtaddto',
  'gender',
  'insnum',
  'airline',
  'admnum',
  'fltno',
  'visatype'],
 'oct': ['cicid',
  'i94yr',
  'i94mon',
  'i94cit',
  'i94res',
  'i94port',
  'arrdate',
  'i94mode',
  'i94addr',
  'depdate',
  'i94bir',
  'i94visa',
  'count',
  'dtadfile',
  'visapost',
  'occup',
  'entdepa',
  'entdepd',
  'entdepu',
  'matflag',
  'biryear',
  'dtaddto',
  'gender',
  'insnum',
  'airline',
  'admnum',
  'fltno',
  'visatype'],
 'nov': ['cicid',
  'i94yr',
  'i94mon',
  'i94cit',
  'i94res',
  'i94port',
  'arrdate',
  'i94mode',
  'i94addr',
  'depdate',
  'i94bir',
  'i94visa',
  'count',
  'dtadfile',
  'visapost',
  'occup',
  'entdepa',
  'entdepd',
  'entdepu',
  'matflag',
  'biryear',
  'dtaddto',
  'gender',
  'insnum',
  'airline',
  'admnum',
  'fltno',
  'visatype'],
 'dec': ['cicid',
  'i94yr',
  'i94mon',
  'i94cit',
  'i94res',
  'i94port',
  'arrdate',
  'i94mode',
  'i94addr',
  'depdate',
  'i94bir',
  'i94visa',
  'count',
  'dtadfile',
  'visapost',
  'occup',
  'entdepa',
  'entdepd',
  'entdepu',
  'matflag',
  'biryear',
  'dtaddto',
  'gender',
  'insnum',
  'airline',
  'admnum',
  'fltno',
  'visatype']}

In [11]:
#list of column names as key and the values are list of the month
column_names_by_files_reversed = defaultdict(list)
for k, v in column_names_by_files.items():
    column_names_by_files_reversed[','.join(v)].append(k)
print(len(column_names_by_files_reversed))
column_names_by_files_reversed.values()

2

dict_values([['jan', 'feb', 'mar', 'apr', 'may', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec'], ['jun']])

looks like June has some problem.  More investigation..

In [12]:
normal_months = list(small_list[0].columns.values)
problem_june = list(small_list[5].columns.values)
print('{} vs {}'.format(len(normal_months), len(problem_june)))
for zipped in (zip(normal_months, problem_june)):
    print(zipped)

28 vs 34
('cicid', 'cicid')
('i94yr', 'i94yr')
('i94mon', 'i94mon')
('i94cit', 'i94cit')
('i94res', 'i94res')
('i94port', 'i94port')
('arrdate', 'arrdate')
('i94mode', 'i94mode')
('i94addr', 'i94addr')
('depdate', 'depdate')
('i94bir', 'i94bir')
('i94visa', 'i94visa')
('count', 'count')
('dtadfile', 'validres')
('visapost', 'delete_days')
('occup', 'delete_mexl')
('entdepa', 'delete_dup')
('entdepd', 'delete_visa')
('entdepu', 'delete_recdup')
('matflag', 'dtadfile')
('biryear', 'visapost')
('dtaddto', 'occup')
('gender', 'entdepa')
('insnum', 'entdepd')
('airline', 'entdepu')
('admnum', 'matflag')
('fltno', 'biryear')
('visatype', 'dtaddto')

In [13]:
normal_months == [correct_column for correct_column in problem_june if not (correct_column.startswith('delete_') or correct_column =='validres')]

True

Looks like for some reason, the month of june has additional columns that was not prepared correctly.  We just need to make sure we exclude them at the time of insert.

In [14]:
#### Exploring the city demographic data
#Looking at one city sample:
city_df[city_df['City'] == 'Irvine'].head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
635,Irvine,California,34.6,125411.0,131516.0,256927,5532.0,116366.0,2.73,CA,American Indian and Alaska Native,799
1040,Irvine,California,34.6,125411.0,131516.0,256927,5532.0,116366.0,2.73,CA,Black or African-American,8670
1290,Irvine,California,34.6,125411.0,131516.0,256927,5532.0,116366.0,2.73,CA,Hispanic or Latino,19266
2295,Irvine,California,34.6,125411.0,131516.0,256927,5532.0,116366.0,2.73,CA,White,127358
2484,Irvine,California,34.6,125411.0,131516.0,256927,5532.0,116366.0,2.73,CA,Asian,126499

In [15]:
# City data exploration task 2
#Check to see if population adds up to total
#and check of any of the category is > Total Population
for _, row in city_df.iterrows():
    if pd.notnull(row['Male Population']):
        assert row['Male Population'] + row['Female Population'] == row['Total Population']
    if pd.notnull(row['Number of Veterans']):
        assert row['Number of Veterans'] <= row['Total Population']
    if pd.notnull(row['Foreign-born']):
        assert row['Foreign-born'] <= row['Total Population']
    if pd.notnull(row['Count']):
        assert row['Count'] <= row['Total Population']
    for numbered_column in ['Male Population', 'Female Population', 'Total Population', 'Number of Veterans', 'Foreign-born', 'Count']:
        assert pd.isnull(row[numbered_column]) or row[numbered_column] > 0


#looks like the data exploration task #2 passed without any issue.

In [16]:
#City data exploration task 3
#Check to see if race adds up to total
sub_df = city_df[['City', 'State', 'Total Population', 'Count']]
grouped = sub_df.groupby(['City', 'State', 'Total Population']).sum().reset_index()
grouped.head()

      City       State  Total Population   Count
0  Abilene       Texas            125876  147900
1    Akron        Ohio            197553  210305
2  Alafaya     Florida             85264  115476
3  Alameda  California             78614   89174
4   Albany     Georgia             71109   73478

In [17]:
#Let's look at if Count always sums up to >= Total Population

for _, row in grouped.iterrows():
    if pd.notnull(row['Total Population']) and row['Count'] < row['Total Population']:
        print(row['City'], row['State'], row['Total Population'], row['Count'])

Bayamn Puerto Rico 170259 169155
Caguas Puerto Rico 77008 76973
Mayagez Puerto Rico 66581 65756
New Bedford Massachusetts 94959 93321
Ponce Puerto Rico 121583 120705
San Juan Puerto Rico 342237 342042
South Jordan Utah 66639 66205

Looks like the places with discrepancy is mostly in places lacked diversity.

Let's look at the state level of data

In [18]:
sub_df = city_df[['State Code', 'Male Population', 'Female Population', 'Total Population', 'Foreign-born']]
state_df = sub_df.groupby(['State Code']).sum().reset_index()
print(state_df.shape)
state_df.sort_values(by=['Total Population'], ascending=False).head()

(49, 5)

,State Code,Male Population,Female Population,Total Population,Foreign-born
4,CA,61055672.0,62388681.0,123444353,37059662.0
44,TX,34862194.0,35691659.0,70553853,14498054.0
34,NY,23422799.0,25579256.0,49002055,17186873.0
9,FL,15461937.0,16626425.0,32306132,7845566.0
14,IL,10943864.0,11570526.0,22514390,4632600.0

Looks like there isn't much we need to clean on the demographic data.

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

Since this data project is based around the immigration data, we will use the immigration data as teh center of star schema (our fact table).
We will be calling this table as fact_immigration:
`
CREATE TABLE fact_immigration
(
    immigration_id int not null identity(0,1) primary key,
    cicid decimal not null,
    i94yr decimal not null,
    i94mon decimal not null,
    i94cit decimal,
    i94res decimal,
    i94port char(3),
    arrdate decimal,
    i94mode decimal,
    i94addr char(3),
    depdate decimal,
    i94bir decimal,
    i94visa decimal,
    count decimal,
    dtadfile varchar,
    visapost char(3),
    occup char(3),
    entdepa char(1),
    entdepd char(1),
    entdepu char(1),
    matflag char(1),
    biryear decimal,
    dtaddto varchar,
    gender char(1),
    insnum varchar,
    airline char(3),
    admnum varchar, 
    fltno varchar,
    visatype char(3)
    );
`

Here are the dimension tables:

dim_country
`
CREATE TABLE dim_country(
    code integer not null constraint dim_country_pkey primary key,
    name varchar not null
)
`

dim_arrival_mode

`
CREATE TABLE dim_arrival_mode(
    code integer,
    mode char(12)
)`

dim_port

`
CREATE TABLE dim_port(
    code char(3),
    name varchar
)`

dim_address

`
CREATE TABLE dim_address(
    code char(2),
    name varchar
)`

dim_visa_type

`
CREATE TABLE dim_visa_type(
    code integer,
    visa_type char(8)
)
`

dim_date

`
CREATE TABLE dim_date(
    code integer not null constraint dim_date_pkey primary key,
    year integer not null,
    month integer not null,
    day integer not null,
    day_of_week integer not null,
    ymd_dash char(10) not null,
    ymd_nodash char(8) not null,
    mdy_nodash char(8) not null
)`

dim_city

`
CREATE TABLE dim_city(
    city varchar,
    state varchar,
    median_age numeric,
    male_pop integer,
    female_pop integer, 
    total_pop integer,
    num_vets integer,
    foreign_born integer,
    avg_household_size DECIMAL,
    state_code char(2),
    race varchar,
    count integer
)
`

dim_state

`
CREATE TABLE dim_state(
    state_code char(2) constraint dim_state_pkey primary key,
    male_pop integer,
    female_pop integer,
    total_pop integer,
    foreign_born integer
)`


#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

#### 1. fact_immigraiton

This one is by far the most complicated process since we would need to import large file sets.

We need to import each of the 12 files one at a time into memory (dataframe) first before we can insert into our redshift table.  After each insert, we would need to delete the dataframe to free up memory before proceeding to the next file.  

In addition, we found out the month of June actually contains extra columns, so we need to add code to clean up those unnecessary info before we can process the result.

#### 2. dim_arrival_mode and dim_visa_type

These two tables are more of a small lookup table.  We are just going to hardcode the insert.

#### 3. dim_address, dim_port, and dim_country

We are going to parse the value from the file and insert the result into the table

#### 4. dim_city and dim_state

We are going to insert directly from the dataframe we created at exploration stage and insert those into the refshift directly.

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [20]:
#We are making db connection first
config = configparser.ConfigParser()
config.read('dbaccess.cfg')
connection_string = "host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values())

conn = psycopg2.connect(connection_string)
cur = conn.cursor()
conn.set_session(autocommit=True)

In [21]:
# Write code here
# We are going to clear the table if they exist first
sql_drop_dim_visa_type = 'DROP TABLE IF EXISTS dim_visa_type;'
cur.execute(sql_drop_dim_visa_type)

sql_drop_dim_state = 'DROP TABLE IF EXISTS dim_state;'
cur.execute(sql_drop_dim_state)

sql_drop_dim_country = 'DROP TABLE IF EXISTS dim_country;'
cur.execute(sql_drop_dim_country)

sql_drop_dim_city = 'DROP TABLE IF EXISTS dim_city;'
cur.execute(sql_drop_dim_city)

sql_drop_dim_date = 'DROP TABLE IF EXISTS dim_date;'
cur.execute(sql_drop_dim_date)

sql_drop_dim_address = 'DROP TABLE IF EXISTS dim_address;'
cur.execute(sql_drop_dim_address)

sql_drop_dim_port = 'DROP TABLE IF EXISTS dim_port;'
cur.execute(sql_drop_dim_port)

sql_drop_dim_arrival_mode = 'DROP TABLE IF EXISTS dim_arrival_mode;'
cur.execute(sql_drop_dim_arrival_mode)

#We are handling the fact_immigration in a python file
#sql_drop_fact_immigration = 'DROP TABLE IF EXISTS fact_immigration;'
#cur.execute(sql_drop_fact_immigration)

In [22]:
#create all tables
sql_create_dim_visa_type = '''CREATE TABLE dim_visa_type(
                                code integer,
                                visa_type char(8)
                            )'''
cur.execute(sql_create_dim_visa_type)

sql_create_dim_state = '''CREATE TABLE dim_state(
    state_code char(2) constraint dim_state_pkey primary key,
    male_pop decimal,
    female_pop decimal,
    total_pop decimal,
    foreign_born decimal
)'''
cur.execute(sql_create_dim_state)

sql_create_dim_country = '''CREATE TABLE dim_country(
    code integer not null constraint dim_country_pkey primary key,
    name varchar not null
)'''
cur.execute(sql_create_dim_country)

sql_create_dim_city = '''CREATE TABLE dim_city(
    city varchar,
    state varchar,
    median_age numeric,
    male_pop decimal,
    female_pop decimal, 
    total_pop decimal,
    num_vets integer,
    foreign_born decimal,
    avg_household_size DECIMAL,
    state_code char(2),
    race varchar,
    count integer
)'''
cur.execute(sql_create_dim_city)

sql_create_dim_date = '''CREATE TABLE dim_date(
    code integer not null constraint dim_date_pkey primary key,
    year integer not null,
    month integer not null,
    day integer not null,
    day_of_week integer not null,
    ymd_dash char(10) not null,
    ymd_nodash char(8) not null,
    mdy_nodash char(8) not null
)'''
cur.execute(sql_create_dim_date)

sql_create_dim_address = '''CREATE TABLE dim_address(
    code char(2),
    name varchar
)'''
cur.execute(sql_create_dim_address)

sql_create_dim_port = '''CREATE TABLE dim_port(
    code char(3),
    name varchar
)'''
cur.execute(sql_create_dim_port)

sql_create_dim_arrival_mode = '''CREATE TABLE dim_arrival_mode(
    code integer,
    mode char(12)
)'''
cur.execute(sql_create_dim_arrival_mode)

#creating of fact_immigration is being handled outside of the notebook
'''
sql_create_fact_immigration = CREATE TABLE fact_immigration(
    immigration_id int not null identity(0,1) primary key,
    cicid decimal not null,
    i94yr decimal not null,
    i94mon decimal not null,
    i94cit decimal,
    i94res decimal,
    i94port char(3),
    arrdate decimal,
    i94mode decimal,
    i94addr char(3),
    depdate decimal,
    i94bir decimal,
    i94visa decimal,
    count decimal,
    dtadfile varchar,
    visapost char(3),
    occup char(3),
    entdepa char(1),
    entdepd char(1),
    entdepu char(1),
    matflag char(1),
    biryear decimal,
    dtaddto varchar,
    gender char(1),
    insnum varchar,
    airline char(3),
    admnum varchar, 
    fltno varchar,
    visatype char(3)
    );
cur.execute(sql_create_fact_immigration)'''

'\nsql_create_fact_immigration = CREATE TABLE fact_immigration(\n    immigration_id int not null identity(0,1) primary key,\n    cicid integer not null,\n    i94yr integer not null,\n    i94mon integer not null,\n    i94cit integer,\n    i94res integer,\n    i94port char(3),\n    arrdate integer,\n    i94mode integer,\n    i94addr char(3),\n    depdate integer,\n    i94bir integer,\n    i94visa integer,\n    count integer,\n    dtadfile varchar,\n    visapost char(3),\n    occup char(3),\n    entdepa char,\n    entdepd char,\n    entdepu char,\n    matflag char,\n    biryear integer,\n    dtaddto integer,\n    gender char,\n    insnum integer,\n    airline char(2),\n    admnum integer, \n    fltno varchar,\n    visatype char(2)\n    );\ncur.execute(sql_create_fact_immigration)'

Once we have create the table, we can start the data insert process

In [23]:
sql_insert_arrival_mode = """INSERT INTO dim_arrival_mode(code, mode)
SELECT 1, 'Air'
UNION
SELECT 2, 'Sea'
UNION
SELECT 3, 'Land'
UNION
SELECT 9, 'Not Reported'

"""
cur.execute(sql_insert_arrival_mode)

In [24]:
sql_insert_visa_type = """INSERT INTO dim_visa_type(code, visa_type)
SELECT 1, 'Business'
UNION
SELECT 2, 'Pleasure'
UNION
SELECT 3, 'Student'

"""
cur.execute(sql_insert_visa_type)

In [25]:
#sql_insert_address
with open(HEADER_FILE) as f:
    header_files = f.readlines()

In [26]:
comments = [line for line in header_files if line.startswith('/*') and line.endswith('*/\n')]
comment_pattern = re.compile(r'^/\*\s+(?P<code>.+?)\s+-\s+(?P<description>.+)\s+\*/$')
matches = [comment_pattern.match(cl) for cl in comments]

if not all(m is not None for m in matches):
    for i, m in enumerate(matches):
        if m is None:
            print(i)


matches = [comment_pattern.match(cl) for cl in comments]
if not all(m is not None for m in matches):
    for i, m in enumerate(matches):
        if m is None:
            print(i)
for m in matches:
    print('code:{}, description:{}'.format(m.group("code"), m.group('description')))

code:I94YR, description:4 digit year
code:I94MON, description:Numeric month
code:I94CIT & I94RES, description:This format shows all the valid and invalid codes for processing
code:I94PORT, description:This format shows all the valid and invalid codes for processing
code:I94MODE, description:There are missing values as well as not reported (9)
code:I94BIR, description:Age of Respondent in Years
code:COUNT, description:Used for summary statistics
code:DTADFILE, description:Character Date Field - Date added to I-94 Files - CIC does not use
code:VISAPOST, description:Department of State where where Visa was issued - CIC does not use
code:OCCUP, description:Occupation that will be performed in U.S. - CIC does not use
code:ENTDEPA, description:Arrival Flag - admitted or paroled into the U.S. - CIC does not use
code:ENTDEPD, description:Departure Flag - Departed, lost I-94 or is deceased - CIC does not use
code:ENTDEPU, description:Update Flag - Either apprehended, overstayed, adjusted to perm residence - CIC does not use
code:MATFLAG, description:Match flag - Match of arrival and departure records
code:BIRYEAR, description:4 digit year of birth
code:DTADDTO, description:Character Date Field - Date to which admitted to U.S. (allowed to stay until) - CIC does not use
code:GENDER, description:Non-immigrant sex
code:INSNUM, description:INS number
code:AIRLINE, description:Airline used to arrive in U.S.
code:ADMNUM, description:Admission Number
code:FLTNO, description:Flight number of Airline used to arrive in U.S.
code:VISATYPE, description:Class of admission legally admitting the non-immigrant to temporarily stay in U.S.

In [27]:
#Time to parse out address
address_lines = header_files[981:1036]

pattern = re.compile(r"^\s*'(?P<code>..)'\s*=\s*'(?P<name>.+)'.*$")
matches = [pattern.match(line) for line in address_lines]

address_codes = {match.group('code'): match.group('name') for match in matches}
assert len(address_codes) == len(address_lines)

In [28]:
sql_insert_address_template = 'INSERT INTO dim_address (code, name) VALUES (%s, %s);'

for item in sorted(address_codes.items()):
    cur.execute(sql_insert_address_template, item)

In [29]:
#Time to parse out port
port_lines = header_files[302:962]
pattern = re.compile(r"^\s*'(?P<code>...?)'\s*=\s*'(?P<name>.+)'.*$")
matches = [pattern.match(line) for line in port_lines]
port_codes = {match.group('code'): match.group('name').strip() for match in matches}
assert len(port_codes) == len(port_lines)

In [30]:
sql_insert_port_template = 'INSERT INTO dim_port (code, name) VALUES (%s, %s);'

for item in sorted(port_codes.items()):
    cur.execute(sql_insert_port_template, item)

In [31]:
#Time to parse out countries
country_lines = header_files[9:298]
pattern = re.compile(r"^\s*(?P<code>\d+)\s*=\s*'(?P<country>.+)'.*$")
matches = [pattern.match(line) for line in country_lines]
country_codes = {int(match.group('code')): match.group('country') for match in matches}
assert len(country_lines) == len(country_codes)

In [32]:
sql_insert_country_template = 'INSERT INTO dim_country (code, name) VALUES (%s, %s) '


for item in country_codes.items():
    cur.execute(sql_insert_country_template, item)

#### dim_date

Populating dim_date is different from other tables.  Since we have birth yeear from 1990 and the data was released on 2016, we will populate every day from 1/1/1900 to 12/31/2016

In [ ]:
sql_insert_date_template = 'INSERT INTO dim_date(code, year, month, day, day_of_week, ymd_dash, ymd_nodash, mdy_nodash) values (%s, %s, %s, %s, %s, %s, %s, %s);'


dt = datetime(2016,1,1)
end_dt = datetime(2016, 12, 31)
one_day = timedelta(days=1)
code = 20454

while dt <= end_dt:
    cur.execute(sql_insert_date_template, 
               [code, dt.year, dt.month, dt.day, dt.weekday(), dt.strftime('%Y-%m-%d'),
                dt.strftime('%Y%m%d'), dt.strftime('%d%m%Y')]
               )
    dt = dt + one_day
    code += 1
    

dt = datetime(2015, 12, 31)
end_dt = datetime(1900, 1, 1)
code = 20453

while dt >= end_dt:
    cur.execute(sql_insert_date_template, 
               [code, dt.year, dt.month, dt.day, dt.weekday(), dt.strftime('%Y-%m-%d'),
                dt.strftime('%Y%m%d'), dt.strftime('%d%m%Y')]
               )
    dt = dt - one_day
    code -=1

In [ ]:
#Inserting dim_city
sql_insert_city_template = '''INSERT INTO dim_city (city, state, median_age, male_pop, female_pop, total_pop
, num_vets, foreign_born, avg_household_size, state_code, race, count)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);'''

# execute queries
for _, row in city_df.iterrows():
    cur.execute(sql_insert_city_template, [v if pd.notna(v) else None for v in row])

In [ ]:
#insert dim_state
sql_insert_state_template = '''INSERT INTO dim_state
(state_code, male_pop, female_pop, total_pop, foreign_born)
VALUES (%s, %s, %s, %s, %s'''

# execute queries
for _, row in state_df.iterrows():
    cur.execute(sql_insert_state_template, row)

#### Handling fact_immigration

Because fact_immigration has huge amount of data, we want to handle the insert outside of the jupyter notebook as we do not wish to crash our internet browser.

I will be running load_fact_immgration_data.py in my local machine.

The approach that I used in the load_immigraiton_data.py is fairly straight forward.  Just read the sas data into dataframe and insert the data by looping through the dataframe.

python load_immigration_data.py

Necessary libraries are pandas, pscopg2, tqdm. These can be installed via

pip install -r requirements.txt

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

The first data quality check is actually just to look at how many rows we have by month

In [ ]:
# Perform quality checks here
#using the following sql statement:
sql_data_quality_check_template = '''select count(distinct immigration_id), i94mon
from fact_immigration
group by i94mon
order by i94mon;'''
dq_check_df = pd.read_sql_query(sql_data_quality_check_template, engine)
dq_check_df

The second data quality check is to make sure we only have data from year 2016. 

As we can see from the result, we do not have any data outside of 2016.

In [ ]:
sql_data_quality_check_template = 'select count(1) as Total from fact_immigration where i94yr is null or i94yr <> 2016;'
dq_check_df = pd.read_sql_query(sql_data_quality_check_template, engine)
dq_check_df

The third data quality check is to examin into the cicid column.  From the first glance, this field looks like the primary key for the immigration data.  Let's explore it and see if that's the case.

In [ ]:
sql_data_quality_check_template = 'select cicid, count(cicid) from fact_immigration group by cicid order by count desc;'
dq_check_df = pd.read_sql_query(sql_data_quality_check_template, engine)
dq_check_df

It looks like there are few cicid's that appear multiple times.  Let's examin some of those rows see if we can find out more.

After inspecting the samples (see below), we know that these are not duplicate records and we made a good decision for not using cicid as our primary key.

In [ ]:
sql_data_quality_check_template = '''select * from fact_immigration
where cicid in (5454856, 3334634, 4087143, 395680)
order by cicid;'''
dq_check_df = pd.read_sql_query(sql_data_quality_check_template, engine)
dq_check_df

As we found out in data exploration stage, there are some of the birth year we need to fix/exclude.  So we will run the below sql statement

In [ ]:
sql_data_quality_fix = '''UPDATE fact_immigration
SET i94bir = NULL
WHERE i94bir < 0 or i94bir > 120;'''

cur.execute(sql_data_quality_fix)
sql_data_quality_fix = '''UPDATE fact_immigration
SET biryear = NULL
WHERE biryear < 1900 or biryear > 2016;'''

cur.execute(sql_data_quality_fix)

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

##### dim_visa_type
This table contains the type visa immigration uses:

- code: 1, 2, 3
- visa_tyope: Business, Pleasure, or Student, respectively

##### dim_state
This table contains the aggregated statistics from dim_city by state

- state_code: two-letter code for state
- male_pop: number of men in the state
- female_pop: number of women in the state
- total_pop: number of people in the state
- foreign_born: number of foreign-born people in the state

##### dim_country
This table stores the country name and code from our immigration data

- code: a numbered code
- name: usually a name of a country. There are many that start with INVALID: as well as several different No Country Code([code]) values

##### dim_city
This table stores the statistics on cities in US

- city: city's name
- state: state city is in
- median_age: median age of city
- male_pop: number of men in the city
- female_pop: number of women in the city
- total_pop: number of people in the city
- num_vets: number of veterans in the city
- foreign_born: number of foreign-born people in the city
- avg_household_size: average household size
- state_code: two-letter code for state
- race: White, Hispanic or Latino, Asian, Black or African-American, or American Indian and Alaska Native
- count: number of people of that race in the city

##### dim_date
This table stores the dates in different formats

- code: the CIC code for date where 20454 is 1/1/2016
- year: four-digit year
- month: month; 1-12
- day: day; 1-31
- day_of_week: 0 for Monday, 1 for Tuesday, ..., 7 for Sunday
- ymd_dash: date formatted as YYYY-MM-DD
- ymd_nodash: date formatted as YYYYMMDD
- mdy_noash: date formatted as MMDDYYYY

##### dim_address
This table stores the list of the states (usually) where immigrants list their address

- code: mostly two-letter codes for states. There's DC, GU (Guam), and 99 (All Other Codes) as well
- name: name of state, region, etc.

##### dim_port
This table stores the list of the ports from how the immigrants arrived

- code: a short code
- name: the name of the port; there are some No PORT Code ([code]) values too

##### dim_arrival_mode
This table stores the methopd in how those immigrants arrived. 

- code: 1, 2, 3, or 9
- mode: Air, Sea, Land, or Not reported, respectively

##### fact_immigration
This table is the fact table for our data capstone project

- immigration_id: primary key
- cicid: unique key within a month
- i94yr: 4 digit year, always 2016
- i94mon: numeric month, 1-12
- i94cit: immigrant's country of citizenship; foreign key to dim_country
- i94res: immigrant's country of residence outside US; foreign key to dim_country
- i94port: port of entry; foreign key to dim_port
- arrdate: arrival date of immigrant where 20454 == 1/1/2016
- i94mode: mode of arrival; foreign key to dim_arrival_mode
- i94addr: address (usually state) of immigrant in US; foreign key to dim_address
- depdate: departure date of immigrant where 20454 == 1/1/2016
- i94bir: immigrant's age in years
- i94visa: foreign key to dim_visa_type
- count: used for summary statistics; always 1 (for easy adding)
- dtadfile: dates in the format YYYYMMDD
- visapost: three-letter codes corresponding to where visa was issued
- occup: occupation in US of immigration. Mostly STU for student, also many OTH for other
- entdepa: one-letter arrival code
- entdepd: one-letter departure code
- entdepu: one-letter update code
- matflag: M if the arrival and departure records match
- biryear: four-digit year of birth
- dtaddto: MMDDYYYY date field for when the immigrant is admitted until
- gender: mostly M and F, but some X and U as well
- insnum: Immigration and Naturalization Services number; many re-used
- airline: Airline of entry for immigrant
- admnum: admission number; many re-used, but not as much as insnum
- fltno: flight number of immigrant
- visatype: short visa codes like WT, B2, WB, etc.

#### Step 5: Complete Project Write Up
##### * Clearly state the rationale for the choice of tools and technologies for the project.

Tools and technologies

For this project, I have decided to choose Python because it has a lot of useful libraries available to get the job done.  As an example, we use two different sql libraries so we can easily insert data into our RedShift datawarehouse (either with individual statement or from dataframe directly).

And by exploring data using Jupyter Notebook, we can examine data interactily.  

Also, python gives us an option to execute code via the console so we can be more process efficient when importing the large immigration files.

We are very lucky that the immigration data set is fairly clean and we do not need to spend a lot of time to clean or transform those data.

The only thing I changed is to replace NaN value for decimal into 0 and empty string for other NaN data.

We decided to use RedShift as our main database backend because we can easily scale up when we need to look at more data (the beauty of the cloud).

##### * Propose how often the data should be updated and why.

We should be importing the immigration data on monthly basis as we receive new data.  Due to the current unstable US administration, I am curious how that affect the movement of immigration if we can tie to the change upon activation of new immigration law.  

And as we import more immigration data, we will need to update the remaining dimension tables to cover the changes.

##### * Write a description of how you would approach the problem differently under the following scenarios:

##### * The data was increased by 100x.

If the data increase by 100x, we will want to utilize AirFlow as we can schedule and monitor the importing progress better.  Jupyter notebook as it's strength and weakness.  Process large amount of data is definitely something you don't want to do with the notebook.  We might also want to partition the fact table by date.

##### * The data populates a dashboard that must be updated on a daily basis by 7am every day.

We can use Airflow and utilize it's SLA feature to monitor and make sure data arrives according to the requirement.,

##### * The database needed to be accessed by 100+ people.

This will not be a problem since we currently putting data into the RedShift already.  We can easily scale up the process to support 100+ people.